---
layout: default
title: Listings
header-class: project-header
---

<section>


<h1 class="project-name">{{ page.title }}</h1>

<div class="grid listing-grid">

    {% for post in site.posts %}

    <div>

      <div class="listing-info">
        <h3>{{ post.listing-heading }}</h3>
        <h4>{{ post.listing-address }}</h4>
        <p>{{ post.content }}</p>
      </div>

        <ul>
            {% for image in post.listing-images %}
            <li><img src="{{ image | relative_url }}"></li>
            {% endfor %}
        </ul>

    </div>

    {% endfor %}

</div>

</section>
