---
layout: default
title: Vancouver Listings
header-class: project-header
---

<section>


  <h1 class="project-name">{{ page.title }}</h1>

  <div class="listings-list">

    {% assign posts = site.posts | where: "city" , "vancouver" %}

    {% for post in posts %}

    <div>

      <div class="listing-info">

        <a>
          <h3>{{ post.listing-heading }}</h3>
        </a>
        <h4>{{ post.listing-address }}</h4>
        <p>{{ post.content }}</p>
      </div>

      <div class="listing-images-container">
        {% for image in post.listing-images %}
        <img class="listing-images" src="{{ image | relative_url }}">
        {% endfor %}
      </div>

    </div>

    {% endfor %}

  </div>

</section>
