@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700|EB+Garamond:400,500&display=swap');

/* PAGE */
* {
    box-sizing: border-box;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #242124;
}

body {
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 50px 20px 50px;

    background-color: transparent;
    transition: background-color 1s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.6);
}

header a:hover {
    color: white;
    text-decoration: underline;
}

.project-header a {
    color: #242124;
}

.project-header a:hover {
    color: #242124;
    text-decoration: underline;
}

.project-header button {
    color: #242124;
    background-color: transparent;
    border: 2px solid;
}

.project-header button:hover {
    background-color: #3F6152;
    color: white;
    cursor: pointer;
    border-color: #3F6152;
}

.project-header a img {
    filter: invert();
}


.project-header.scrolled a {
    color: white;
}

.project-header.scrolled button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

.project-header.scrolled button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.project-header.scrolled a img {
    filter: none;
}


header a img {
    height: 30px;
    display: inline-block;
    padding-right: 16px;
}

header button {
    color: white;
    background-color: transparent;
    opacity: 0.9;
    border: 2px solid white;
    border-radius: 2px;
    padding: 6px 22px;
    transition: .2s ease-in-out;
}

header button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

section,
footer {
    text-align: center;
    margin-top: 50px;
    width: calc(100% - 100px);
    margin: 0 auto;
}

section p,
section h3 {
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
}

section img {
    width: 100%;
    max-width: 660px;
    margin-bottom: 26px;
}

section.half-width-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section.half-width {
    display: inline-block;
    width: 50%;
    flex-grow: 1;
    margin: 0;
    padding: 20px 40px;
}

section.half-width#left {
    background-color: #D6D7DB;
    display: flex;
    flex-direction: column;
}

section.half-width img {
    max-width: 600px;
    padding-top: 6px;
}

.short-line {
    width: 300px;
    max-width: 90%;
    border-bottom: 1px solid;
    margin: 6px auto 20px auto;
}

.long-line {
    width: 660px;
    max-width: 100%;
    border-bottom: 1px solid;
    margin: 4px auto 40px auto;
}

.full-line {
    width: calc(100% - 100px);
    margin: 0 auto;
    border-bottom: 1px solid;
    margin: 20px auto 0px auto;
}

.development-description {
    max-width: 450px;
    margin: 0 auto;
}

.development-description button {
    margin: 20px 0 20px 0;

    background-color: transparent;
    border: 2px solid;
    border-radius: 2px;
    padding: 6px 22px;
    transition: .2s ease-in-out;
}

.development-description button:hover {
    background-color: #3F6152;
    color: white;
    cursor: pointer;
    border-color: #3F6152;
}

.home-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    min-height: 340px;
    background-image: url(/images/home2.jpg);
    background-size: cover;
    background-position: top;
}

.home-content {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.home-content div {
    background-color: rgba(0, 0, 0, 0.6);
    width: 60vw;
    padding: 40px 20px;
    text-align: center;
}

.scrollprompt {
    position: absolute;
    bottom: 20px;
    padding: 12px 16px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 1s ease;
}

.scrollprompt.scrolled {
    color: transparent;
    background-color: transparent;
}

.map-container {
    margin: 40px auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
}

.map {
    padding: 0;
    width: 100%;
    object-fit: cover;
    min-height: 500px;
    height: calc(100vh - 378px);
    border: 1px solid #8E8E8E;
    background-size: cover;
    background-position: top;
}

#vancouver {
    background-image: url(/images/vancouver.jpeg);
    background-size: cover;
    background-position: top;

    transition: ease-in-out .4s;
}

#victoria {
    background-image: url(/images/victoria.jpeg);
    background-size: cover;
    background-position: 26% 50%;

    transition: ease-in-out .4s;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info h2 {
    text-align: center;
    margin-bottom: 16px;
}

.contact-info a {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 6px 0;
}

/*FONTS*/
h1,
h2,
h3,
header a,
form h3 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
}

header a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 6vw;
    line-height: 1;
    text-align: center;
}

.home-content div h1 {
    color: white;
    padding: 0;
    margin-top: -9px;
    margin-bottom: -8px;
}

.home-content div h2 {
    color: white;
    font-size: 3.5vw;
    line-height: 1;
    padding-top: 0;
    margin-bottom: -4px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

p.caption {
    font-size: 15px;
    font-style: italic;
}

 p,
 a,
 b,
 button,
.scrollprompt,
 form,
 form * {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    font-size: 14px;
}

footer a {
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    color: #2B3D82;
}

/* PROJECT PAGES */
.project-content {
    width: calc(100% - 100px);
    margin: 20px auto 20px auto;
    border-top: solid 1px;
    text-align: center;
}
.project-name {
    border-top: 1px solid #242124;
    border-bottom: 1px solid #242124;
    padding: 40px 0 35px 0;
    width: calc(100% - 100px);
    margin: 80px auto 50px auto;
}
.project-image {
    padding-bottom: 30px;
}
.grid {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
    width: calc(100% - 100px);
    margin: 0 auto;
}
.grid img {
    padding: 0;
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 378px);
}

.project-description {
    padding-bottom: 0px;
    width: 100%;
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
}

 form {
    border-top: 1px solid;
    padding: 15px 0 10px 0;
    width: 100%;
}
 form * {
    display: block;
    width: 100%;
    padding-top: ;
    max-width: 550px;
    margin: 0 auto;
}
form input,
form select {
    margin-top: 12px;
    font-size:  14px;
    padding: 0 0 0 7px;
    height: 30px;
    line-height: 1.8 !important;
    border: 1px solid;
    background-color: transparent;
    border-color: lightgray;
    color: gray;
    outline: none;
    box-shadow: none;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image:none;
}
form #submit {
    background-color: transparent;
    border: 2px solid;
    border-radius: 2px;
    padding: 6px 0;
    transition: .2s ease-in-out;
    border-color: #242124;
    color: #242124;
    height: auto;
}
form #submit:hover {
    background-color: #3F6152;
    color: white;
    cursor: pointer;
    border-color: #3F6152;
}
form h3 {
    padding: 5px 0 18px 0;
}

.other-developments {
    width: 100%;
    margin: 20px auto 0 auto;
    border-top: 1px solid;
}
.other-developments div {
    padding-top: 3px;
}
.other-developments a button  {
    margin: 10px auto;
    display: block;
    
    min-width: 204px;
    
    text-decoration: none;

    background-color: transparent;
    border: 2px solid;
    border-radius: 2px;
    padding: 6px 22px;
    transition: .2s ease-in-out;
    
}
.other-developments button:hover {
    background-color: #3F6152;
    color: white;
    cursor: pointer;
    border-color: #3F6152;
}


/* LISTINGS */

.listings-grid {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    grid-template-rows: auto;
    width: calc(100% - 100px);
    margin: 0 auto;
}

.listings-grid.listing.ul {
    list-style: none
}



















/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-top: solid 1px;
    display: flex;
    flex-wrap: wrap;
}
.footer div a {
    white-space: nowrap;
}
.footer-left a:hover {
    color: #242124;
}


/* ANIMATIONS */
img {
     filter: grayscale(1) brightness(.25);
     transition: filter 1.2s;
}
img.fade {
    filter: grayscale(0) brightness(1);
}
h1 {
    color: darkgray;
    transition: color 2s;
}
h1.fade {
    color: #353839;
}




/* MOBILE */

@media screen and (max-width: 411px) {
    header a img {
        display: none;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-left a {
        margin-right: 0;
    }

    .home-content div h1 {
        font-size: 8vw;
    }

    .home-content div h2 {
        font-size: 5vw;
    }

    .scroll-prompt {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 750px) {
    header {
        padding: 14px 20px;
    }

    .home-content div {
        width: 86vw;
    }

    section.half-width-container {
        flex-direction: column;
    }

    section.half-width {
        width: 100%;
        padding: 20px 20px;
        background-color: #D6D7DB;
    }

    section.half-width#left {
        background-color: white;
    }

    section,
    footer {
        width: calc(100% - 40px);
    }

    .project-name {
        padding: 20px 0 15px 0;
        margin-bottom: 20px;
    }

    .grid {
        grid-gap: 20px;
    }

    .map-container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        max-width: 650px;
    }

    .full-line {
        width: calc(100% - 40px);
    }
    
    .short-line {
     max-width: 750px;
     width: 100%;
}

    .project-content {
        width: calc(100% - 40px);
        margin-top: 0;
    }

    .project-name {
        width: calc(100% - 40px);
    }

    .project-image {
        padding-bottom: 30px;
    }

    .grid {
        width: calc(100% - 40px);
    }


}

@media screen and (min-width: 751px) and (max-width: 1150px) {

    header a img {
        height: 28px;
        padding-right: 12px;
    }

    .home-content div h2 {
        font-size: 3vw;
        font-weight: 500;
    }

    .home-content h1 {
        font-size: 5vw;
        white-space: nowrap;
    }

}

@media screen and (max-width: 1150px) {
    .grid {
        grid-template-columns: auto;
    }

    .grid img {
        height: auto;
    }
}

@media screen and (min-width: 1151px) {

    .home-content div {
        max-width: 700px;
    }

    h1 {
        font-size: 60px;
    }

    .home-content div h2 {
        font-size: 38px;
    }

    section.half-width h3 {
        font-size: 27px;
    }

}