<!DOCTYPE html>

<html>

{% include head.html %}


<body>

  {% include header.html %}

  <article>

    <h1>{{ page.listing-heading }}</h1>

    <div class="article-content">

      <h3>{{ page.listing-address }}&ensp;|&ensp;{{ page.rent }}</h3>

    {{ content }}

    <div class="listing-images-container">
      {% for image in page.listing-images %}
      <img class="listing-images" src="{{ image | relative_url }}">
      {% endfor %}
    </div>

  </div>

  </article>

  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>
